//COURSES//
.allcards{
    border-radius:20px;
}
.card-body {
    background-color: $primary;
}

.textareacourses {
    resize: none;
}

.form-select {
    background-color: black;
    color: white;
    font-size: large;
    width: 1157px;
    height: 50px;
    margin-left: 60px;
}
.form-select:hover{
    background-color: $primary;
    color:black
}