//FOOTER//
footer {
    background-color: #edb2dbd0;
}

.footer-redes {
    justify-content: center;
    width: 200px;
}

.footer-redes a {
    margin: 4px;
    padding: 2px;
}


.copyright {
    display: flex;
    justify-content: center;
    width: auto;
}